.card {
	width: 220px;
	margin: 10px 0 10px 0;
}

.card-title {
	font-size: 1em;
}

.card-text {
	font-size: .9em;
}

.status-message {
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

input {
	margin: 10px;
}

h1 {
	margin: 20px 20px 20px 0;
}